*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    background-color: #d2dbdd;
}
input{
    width:50%;
    padding: 10px 20px;
    border: none;
    outline:none;
    margin: 20px 0;
    text-align: center;

}

.heading_style{
    padding:30px 0 ;
    text-align: center;
    font-family: "raleway",sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
    background-color: #fff;
    font-size: 1.5rem;
    margin-bottom: 30px;
}
div{
    width: 100%;
    height: 100vh;
    background:#b8d33d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    padding: 12px 20px;
    background: #9b59b6;
    color:white;
    border:2px solid #ecf0f1;
    outline:none;
    border-radius: 5px;
    text-transform:uppercase;
    cursor: pointer;
}